#services-list {
  list-style-type: decimal-leading-zero;
  padding-top: 1em;
  white-space: nowrap;
  display: inline-block;
}

.service:first-child {
  border-top: 1px dashed;
}

.service {
  border-bottom: 1px dashed;
  padding-top: 1em;
  white-space: nowrap;
  padding-left: 2em;
  padding-right: 2em;
}

#header {
  line-height: .8;
  padding-bottom: .5em;
}

.header-detail {
  font-weight: 300;
  font-size: 40%;
  padding-top: .3em;
}
